/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#gallery img {
  width: 100%;
}
.form {
  width: 50%;
  margin: auto;
}
.form > * {
  text-align: center;
}
.form h2 {
  margin-bottom: 20px;
}
.form form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.form input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form label {
  margin: 2em 0 1em 0;
}
.form textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Add css Filter */

.flex-important {
  margin: 51px 0 50px 0;
  display: flex !important;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

button {
  height: 37px;
  min-width: 100px;
  left: 427px;
  top: 812px;
  border-radius: 60px;
  color: #1d6154;
  background-color: white;
  border: solid 1px #1d6154;
  cursor: pointer;
}

/* button:hover {
	background-color: #1d6154;
	color: white;
  } */

.selected {
  background-color: #1d6154;
  color: white;
}

/*  */

#error-message {
  color: red;
}

.hidden {
  display: none;
}

/* Edit form */

/*  edit-btn */

.edit {
  background-color: black;
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.title-home,
.nav-home {
  margin-top: 38px;
}

.nav-home a {
  text-decoration: none;
  color: black;
}

.btn-edit {
  border: none;
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 8px;
}

.btn-edit1 {
  border: none;
  margin-top: 13px;
  margin-left: 7%;
}

.pub,
#btn1,
#btn-edit {
  cursor: pointer;
}

.btn-edit img {
  height: 20px;
}

.pub {
  background-color: black;
  color: white;
}

.btn-edit.publier {
  color: black;
  background: #ffffff;
  border-radius: 60px;
  width: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-contain {
  display: flex;
  justify-content: center;
  gap: 31px;
  align-items: center;
}

.edit-contain .btn-edit {
  margin-top: -28px;
}

/****** Modal  **********/

.edit-img {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.modal-wrapper {
  position: fixed;
  width: 630px;
  height: 750px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border: solid 2px black;
}

h3 {
  position: absolute;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin-top: 60px;
  color: #000000;
}

.close {
  color: #000000;
  position: absolute;
  margin-top: 32px;
  margin-left: 582px;
  cursor: pointer;
}

.modal-wrapper #gallery-modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 7.49px;
  grid-row-gap: 7.49px;
  margin-left: 105px;
  margin-right: 105px;
  margin-top: 136px;
  margin-bottom: 229px;
}

.modal-wrapper #gallery-modal img {
  width: 78px;
  height: 104px;
  object-fit: cover;
}

.line {
  margin-top: 569px;
  position: absolute;
  width: 420px;
  height: 0px;
  border: 1px solid #b3b3b3;
}

.add-img {
  position: absolute;
  width: 237px;
  height: 36px;
  background: #1d6154;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  top: 617px;
  cursor: pointer;
}

.remove-gallery {
  position: absolute;
  width: 230px;
  height: 17px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #d65353;
  left: 50%;
  transform: translateX(-50%);
  top: 680px;
  border: none;
}

.modal-wrapper #gallery-modal figcaption {
  cursor: pointer;
}

.trash-icon {
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
}

.modal-wrapper #gallery-modal .image-container {
  position: relative;
}

.modal-wrapper #gallery-modal .trash-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-wrapper #gallery-modal .arrows-icon {
  position: absolute;
  top: 5px;
  right: 25px;
}

.arrows-icon {
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
  padding: 4px;
  margin-right: 5px;
  border-radius: 2px;
  cursor: pointer;
}

/* Modal2 */

.btn-modal {
  display: flex;
  justify-content: space-around;
}

.btn-modal .close {
  margin-left: 1020px;
}

.arrow-left {
  color: #000000;
  position: absolute;
  margin-top: 32px;
  margin-right: 150px;
  cursor: pointer;
}

.frame-addImg {
  background-color: #e8f1f6;
  border: solid 1px #e8f1f6;
  width: 420px;
  height: 169px;
  border-radius: 10px;
  position: absolute;
  margin-top: 210px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.frame-addImg img {
  width: 58px;
  height: 58px;
  margin: 22px auto 15px auto;
}

.btn-addImg {
  border-radius: 50px;
  background: #cbd6dc;
  width: 170px;
  height: 36px;
  margin: 0 auto 7px auto;
  border: solid 1px #cbd6dc;
  color: #306685;
  text-align: center;
  font-size: 14px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.format {
  color: #444;
  text-align: center;
  font-size: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form2 {
  margin-top: 330px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group input,
select {
  margin-bottom: 21px;
  width: 420px;
  height: 51px;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
}

.form-group label {
  color: #3d3d3d;
  font-size: 14px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-group input[type="text"] {
  color: #444;
  font-size: 14px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
}

.form-group select {
  color: #444;
  font-size: 14px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
}

.validate {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  background: #a7a7a7;
  color: white;
  border: #a7a7a7 solid 1px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.validate:hover {
  background: #1d6154;
}

.selectedImg {
  width: 129px !important;
  height: 168px !important;
  margin: 0 auto 0 auto !important;
}

.error-message {
  display: none;
  text-align: center;
  margin-top: 10px;
}
